<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name ="testKutsoOOk">
        <classes>
            <class name="test.WebdriverSetup"/>
            <class name="test.IntegerRandom"/>
            <class name="test.PasswordSimple"/>
            <class name="test.RandomaizerList"/>
            <class name="test.StringGenerator"/>
        </classes>
    </test>
</suite>